/* soporte section */

.primero{
    font-family: avenir-black;
    font-size: 16px;
    font-weight: bold;
}

.soporte-pais {
    display: flex;
    flex-direction: column;
}

.soporte__h4 {
    font-size: 16px;
    color: white;
}